<h1><%= @place["name"] %></h1>

<ul>
<% for post in @posts%>
<p><strong><%= post["title"] %></strong></p>
<p> <%= post ["posted_on"]%></p>
<p> <%= post ["description"]%></p>
<%end%>
</ul>

<p>
    <a href="/posts/new?place_id=<%=@place["id"]%>">Create New Post for <%= @place["name"]%></a>
</p>

<p>
<a href="/places">Back to all places</a>
</p>